.choose {
  width: 100%;
  padding-bottom: 100px;
  @include xl {
    padding-top: 100px;
  }
  h3 {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #080606;
    text-align: center;
    padding-bottom: 80px;
  }
  .card {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    p {
      font-family: 'SchoolBook';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 40px;
      color: #080606;
    }
    &__info {
      width: 100%;
      min-height: 150px;
      display: flex;
      padding-top: 20px;
      transition: 0.3s all ease-in-out;
    }
    &__pic {
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        @include size(80px);
        fill: #FFC59E;
      }
    }
    &__text {
      width: 65%;
      min-height: 150px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      p {
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #59443F;
      }
    }
  }
}

.app {
  width: 100%;
  padding: 300px 0 300px 230px;
  position: relative;
  @include xl {
    padding: 100px;
  }
  @include lg {
    padding: 50px;
  }
  &--wrap {
    width: 100%;
    background-color: #FFC59E;
  }
  span {
    font-family: 'Futura New';
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }
  h3 {
    font-family: 'SchoolBook';
    font-size: 80px;
    line-height: 110px;
    color: #FFFFFF;
    max-width: 850px;
    padding-bottom: 45px;
    @include lg {
      font-size: 60px;
      line-height: 80px;
      max-width: 600px;
    }
  }
  &-logo {
    width: 100%;
    a {
      padding-right: 30px;
    }
  }
  &-img {
    @include size(725px, 760px);
    display: block;
    position: absolute;
    top: 200px;
    left: 54%;
    z-index: 10;
    @include xl {
      @include size(477px, 500px);
    }
    @include lg {
      @include size(350px, 380px);
      top: 90px;
      left: initial;
      right: 50px;
    }
    @include md {
      @include size(280px, 300px);
      top: 160px;
      right: 0;
    }
    img {
      @include size(100%, auto);
    }
  }
}