.history, .team, .blog {
  padding: 200px 0 50px;
  &-panel {
    padding-left: 130px;
    h1 {
      padding: 0 0 100px;
      max-width: 400px;
      font-family: 'SchoolBook';
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 110px;
      color: #080606;
    }
  } 
  &-links {
    width: 100%;
    a {
      display: block;
      padding-bottom: 30px;
      font-family: 'Futura New';
      font-size: 20px;
      font-weight: bold;
      line-height: 30px;
      color: #C3B9B5;
    }
  }
  &-content {
    width: 100%;
    .img {
      width: 100%;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        @include size(430px);
      }
    }
    img {
      @include size(100%, auto);
    }
    .about-us {
      width: 100%;
      h2 {
        padding: 50px 0;
        font-family: 'SchoolBook';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: #080606;
      }
      ul {
        margin-top: -50px;
      }
      p, li {
        padding-bottom: 50px;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #59443F;
      }
      li {
        padding: 0;
      }
    }
  }
}

.team {
  .specialists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .block {
    @include size(442px, 255px);
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    .picture {
      @include size(35%, auto);
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        @include size(130px);
      }
      span {
        margin-top: 20px;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #FFC59E;
      }
    }
    .info {
      width: 65%;
      margin-left: 20px;
      span {
        padding-bottom: 10px;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color: #C3B9B5;
      }
      p {
        padding-bottom: 20px;
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #080606;
      }
      p:last-child {
        padding: 0;
      }
    }
  }
}