.menu-full {
  width: 100%;
  padding: 150px 0;
  @include xl {
    padding: 50px;
  }
  .block {
    @include size(100%, 220px);
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s all ease-in-out;
    &:hover {
      border-color: black;
      transform: scale(1.03);
      svg {
        fill: #59443F;
      }
    }
    @include xl {
      padding: 12px;
    }
    @include lg {
      padding: 24px;
    }
    &__info {
      width: 100%;
      p {
        font-family: 'SchoolBook';
        font-style: normal;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        color: #59443F;
      }
    }
    &__serv {
      @include size(100%);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      p, span {
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 400;
        color: #59443F;
        font-size: 20px;
        line-height: 20px;
      }
      span {
        margin-left: 5px;
      }
      svg {
        @include size(110px);
        fill: #FFC59E;
        transition: 0.3s all ease-in-out;
      }
    }
  } 
}