.welcome {
  @include size(100%);
  padding-top: 180px;
  @include lg {
    padding-top: 100px;
  }
  &--wrap {
    position: relative;
    .social, .phone {
      position: absolute;
      bottom: 50px;
      left: 300px;
      display: block;
      z-index: 3;
      @include xl {
        left: 200px;
      }
      @include lg {
        left: 100px;
      }
      svg {
        @include size(40px);
        fill: #C3B9B5;
        transition: all 0.5s ease-in-out;
        &:hover {
          fill: #FFC59E;
        }
      }
    }
    .phone {
      left: initial;
      right: 0;
      a {
        font-family: 'Futura New';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #59443F;
        }
      }
    .slide {
      width: 100%;
      min-height: 800px;
      padding: 100px 0 0 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      background-color: #fff;
      @include xl {
        padding: 100px 0 0 200px;
      }
      @include lg {
        min-height: 600px;
        padding: 80px 0 0 100px;
      }
      h2 {
        font-family: 'SchoolBook';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 110px;
        color: #080606;
        max-width: 700px;
        padding-bottom: 50px;
        @include lg {
          max-width: 600px;
          font-size: 70px;
          line-height: 80px;
        }
        @include md {
          font-size: 50px;
          line-height: 60px;
        }
      }
      img {
        max-width: 55%;
        max-height: 720px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        z-index: 2;
        @include lg {
          max-height: 520px;
        }
      }
    }   
  }
  .swiper-pagination {
    position: absolute;
    top: 50px;
    left: 100px;
    display: block;
    z-index: 5;
    display: flex;
    flex-direction: column;
    &-bullet {
      margin-top: 70px;
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #C3B9B5;
      cursor: pointer;
      &-active {
        color: #080606;
        transition: all 1s ease-out;
      }
    }
    @include lg {
      top: 25px;
      left: 25px;
    }
  }
}