header.header
  .container
    .header__main 
      .header__logo
        a(href="#")
          +icon ('logo')
      .header__menu
        ul.nav 
          li.nav__item 
            a(href="#").nav__link
              | ЛИЧНЫЙ КАБИНЕТ
          li.nav__item 
            a(href="#").nav__link
              | О НАС
          li.nav__item 
            a(href="#").nav__link
              | НОВОСТИ И АКЦИИ
          li.nav__item 
            a(href="#").nav__link
              | КОНТАКТЫ
          li.nav__item 
            a(href="#").nav__link
              | БЛОГ
      .header__location
        +icon('places')
        a(href="#")
          | ВОЛГОГРАД