header.header
  .container
    .header__main 
      .header__logo
        a(href="/")
          img(src='/static/img/svg/logo_header.svg' title='header logo' alt='header logo' width='100' height='100')
      .header__menu
        ul.nav 
          li.nav__item 
            a(href="#").nav__link
              | ЛИЧНЫЙ КАБИНЕТ
          li.nav__item 
            a(href="team.html").nav__link
              | О НАС
          li.nav__item 
            a(href="#").nav__link
              | НОВОСТИ И АКЦИИ
          li.nav__item 
            a(href="contact.html").nav__link
              | КОНТАКТЫ
          li.nav__item 
            a(href="blog.html").nav__link
              | БЛОГ
      .header__location
        +icon('places0')
        a(href="#")
          | LONDON
      button(type="button" name="burger-btn").burger
        img(src="/static/img/svg/burger.svg", alt="menu" width="100" height="100").open
        img(src="/static/img/svg/close.svg", alt="menu" width="65" height="65").close


