extends ../layout/main

block variables

  - var title = 'Aibolit'
  - var pageClass = 'index-page'

block content

  include ../custom/index-home/welcome
  include ../custom/index-home/menu
  include ../custom/index-home/history

block script 