extends ../layout/main

block variables

  - var title = 'Aibolit'
  - var pageClass = 'index-page'

block content

  include ../custom/index-home/welcome
  include ../custom/index-home/menu
  include ../custom/index-home/history
  include ../custom/index-home/choose
  include ../custom/index-home/contact

block script 