extends ../layout/main

block variables

  - var title = 'Aibolit'
  - var pageClass = 'news-page'

block content

  .blog
    .container
      .row
        .col-lg-5
          .sidebar
            h1 Новости и акции
            .sidebar-links
        .col-lg-7
          .content-panel
            - for (var i=0; i<8; i++)
              .blog-section 
                img(src="/static/img/content/news.png" title="news" alt="news" width="255" height="255")
                .blog-info 
                  h2 Подарок
                  span до 1 декабря 2020
                  p Данные клинического осмотра, указывающие на наличие наружного отита, включают такие признаки, как отек и эритема ушной раковины, выделения из ушей, болезненная реакция и/или беспокойство при пальпации наружного слухового хода и потряхивание головой после т ...