.btn_signup {
  @include size(285px, 67px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFC59E;
  box-shadow: 0px 4px 20px #FFC59E;
  border-radius: 33.5px;
  font-family: 'Futura New';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  transition: all 1s ease-out;
}

.btn_social {
  border: none;
  margin-right: 20px;
  background-color: transparent;
}

.btn_read-more, .btn_show-all {
  font-family: 'Futura New';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFC59E;
  border: none;
  transition: all 1s ease-out;
  &:hover {
    color: #59443F;
  }
}

.swiper-button-prev, .swiper-button-next {
  @include size(40px);
  background: #FFC59E;
  border-radius: 50%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
  display: flex; 
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 150px;
  transform: translateY(-50%);
  @include lg {
    left: 80px;
  }
  svg {
    @include size(20px);
    transform: rotate(-180deg);
    fill: #fff;
  }
}

.swiper-button-next {
  left: initial;
  right: 150px;
  @include lg {
    right: 80px;
  }
  svg {
    transform: rotate(0);
  }
}

.burger {
  display: none;
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none;
  @include size(100px);
  justify-content: center;
  align-items: center;
  @include lg {
    display: flex;
  }
  .close {
    display: none;
  }
  &.active {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
}
