.header {
  width: 100%;  
  &__main {
    width: 100%;
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    a { 
      img {
        @include size(100px);
      }
    }
  }
  &__menu {
    min-width: 920px;
    .nav__item {
      // margin-left: 50px;
    }
    .nav__link {
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #C3B9B5;
    }
  }
  &__location {
    a {
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #FFC59E;
      img {
        @include size(20px, 30px);
        margin-right: 19px;
      }
    }
  }
}