.header {
  width: 100%;
  padding: 50px 0;
  &__main {
    @include size(100%, 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    a { 
      svg {
        @include size(80px, 65px);
        fill: #59443F;
      }
    }
  }
  &__menu {
    min-width: 1100px;
    .nav__link {
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #C3B9B5;
      &:hover {
        color: #FFC59E;
        transition: all 0.5s ease-out;
      }
    }
  }
  &__location {
    svg {
      @include size(20px, 30px);
      fill: #FFC59E;
    }
    a {
      margin-left: 10px;
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #FFC59E;
    }
  }
}