.header {
  @include size(100%, 80px);
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    a { 
      img {
        @include size(100px);
      }
    }
  }
  &__menu {
    min-width: 1100px;
    .nav__link {
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #C3B9B5;
    }
  }
  &__location {
    a {
      font-family: 'Futura New';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #FFC59E;
    }
  }
}