- var chooseHead = ['Работаем круглосуточно', 'Широкий спектр услуг', 'Большой опыт', 'Собственная лаборатория', 'Оснащенные стационары', 'Новейшее оборудование', 'Запись на прием онлайн', 'Аптека и зоомагазин', 'Груминг-салон']
- var chooseInfo = ['Мы готовы в любое время суток принять домашних питомцев и их хозяев', 'Кроме широкопрофильных докторов  в клинике развиты узкие направления в ветеринарии – офтальмология, стоматология, дерматология, травматология, ортопедия и онкология', '30 высококвалифицированных врачей нашей клиники предоставляют ветеринарную помощь уже на протяжении 18 лет!', 'Оборудованная профессиональным оснащением производства компании IDEXX International Inc.(США), которое позволяет получить результаты исследования прямо на приеме', 'Обычный и инфекционный стационар с индивидуальным подогревом каждой клетки. Для питомцев в критическом состоянии предусмотрены кислородные камеры', 'Помимо лабораторного оборудования и цифрового рентгена в клинике используется современный эндоскоп KARL STORZ', 'Запись на приём позволяет избежать ожиданий в очереди, но если вы не можете приехать - мы выезжаем на дом!', 'Для удобства в клинике предусмотрен аптечный пункт, а также бутик с одеждой и косметическими средствами для ухода за домашними любимцами', 'Отдельный кабинет для проведения гигиенческих и косметических процедур, таких как мытьё и сушка, стрижка или тримминг, уход за ушами, глазами и когтями и многое другое']

.choose
  .container
    h3 Почему хозяева выбирают нас?
    .row
      - for (var i=0; i<9; i++)
        .col-xl-4.col-lg-6
          .card 
            p= chooseHead[i]
            .__info
              .__pic
                +icon('choose' + i)
              .__text
                p= chooseInfo[i]

.app--wrap
  .container
    .app
      span скоро
      h3 Удобное приложение для питомцев и их хозяев
      .app-logo
        a(href="#")
          img(src='/static/img/content/appstore.png')
        a(href="#")
          img(src='/static/img/content/googleplay.png')
      .app-img
        img(src='/static/img/content/app.png')