.history--wrap
  .container
    .history
      .__company
        h3 История компании
        p История компании начинается 14 января 1999 года, когда было образовано ООО «Чижи». Идея пришла, т.к. у основателя компании Прозор Жанны Георгиевны была собака боксёр по кличке Бард…
        +link('#', 'ЧИТАТЬ ДАЛЕЕ', 'btn_read-more')
      .__specialists
        h3 Наши специалисты
        +link('#', 'ПОСМОТРЕТЬ ВСЕХ', 'btn_read-more')