.history--wrap
  .container
    .history
      .__company
        h3 История компании
        p История компании начинается 14 января 1999 года, когда было образовано ООО «Чижи». Идея пришла, т.к. у основателя компании Прозор Жанны Георгиевны была собака боксёр по кличке Бард…
        button(type='button', name='more').btn_read-more
          | ЧИТАТЬ ДАЛЕЕ
      .__specialists
        h3 Наши специалисты
        button(type='button', name='more').btn_read-more
          | ПОСМОТРЕТЬ ВСЕХ