- var numServices = ['25', '100', '70', '38', '27', '27', '20', '20', '25', '100', '70', '38', '27', '27', '20', '20']
- var servicesInfo = ['Терапия', 'Хирургия', 'Неврология', 'Ортопедия', 'Дерматология', 'Офтальмология', 'Кардиология', 'Стоматология', 'Репродуктология', 'Визуальная диагностика', 'Лаборатория', 'Онкология', 'Эндокринология', 'Экзотические животные', 'Аптека', 'Груминг']

.menu-full
  .container
    .row 
      - for (var i=0; i<16; i++)
        .col-xl-3.col-lg-6.mb-4


          a(href="#")
            .block 
              .__info
                p= servicesInfo[i]
              .__serv
                p= numServices[i]
                  span услуг
                +icon('vector' + i)