.welcome 
  .container
    .welcome--wrap
      .swiper
        .swiper-wrapper
          .swiper-slide
            .slide
              .__main
                h2 Айболит круглосуточная ветклиника
                a(href="#")
                  | ЗАПИСАТЬСЯ
                .__social
                  img(src="/static/img/svg/inst.svg")
                  img(src="/static/img/svg/fb.svg")
                  img(src="/static/img/svg/vk.svg")
                  img(src="/static/img/svg/youtube.svg")
              .__img 
                img(src="/static/img/content/slide01.png")
          .swiper-slide
            .slide
              .__main
                h2 Комфортные оборудованные стационары
                a(href="#")
                  | ЗАПИСАТЬСЯ
                .__social
                  img(src="/static/img/svg/inst.svg")
                  img(src="/static/img/svg/fb.svg")
                  img(src="/static/img/svg/vk.svg")
                  img(src="/static/img/svg/youtube.svg")
              .__img 
                img(src="/static/img/content/slide02.png")
          .swiper-slide
            .slide
              .__main
                h2 Новейшее европейское оборудование
                a(href="#")
                  | ЗАПИСАТЬСЯ
                .__social
                  img(src="/static/img/svg/inst.svg")
                  img(src="/static/img/svg/fb.svg")
                  img(src="/static/img/svg/vk.svg")
                  img(src="/static/img/svg/youtube.svg")
              .__img 
                img(src="/static/img/content/slide03.png")
          .swiper-slide
            .slide
              .__main
                h2 Собственная современная лаборатория
                a(href="#")
                  | ЗАПИСАТЬСЯ
                .__social
                  img(src="/static/img/svg/inst.svg")
                  img(src="/static/img/svg/fb.svg")
                  img(src="/static/img/svg/vk.svg")
                  img(src="/static/img/svg/youtube.svg")
              .__img 
                img(src="/static/img/content/slide04.png")
          .swiper-slide
            .slide
              .__main
                h2 Аптека и зоомагазин по доступным ценам
                a(href="#")
                  | ЗАПИСАТЬСЯ
                .__social
                  img(src="/static/img/svg/inst.svg")
                  img(src="/static/img/svg/fb.svg")
                  img(src="/static/img/svg/vk.svg")
                  img(src="/static/img/svg/youtube.svg")
              .__img 
                img(src="/static/img/content/slide05.png")
          .swiper-slide
            .slide
              .__main
                h2 Груминг салон и косметические товары
                a(href="#")
                  | ЗАПИСАТЬСЯ
                .__social
                  img(src="/static/img/svg/inst.svg")
                  img(src="/static/img/svg/fb.svg")
                  img(src="/static/img/svg/vk.svg")
                  img(src="/static/img/svg/youtube.svg")
              .__img 
                img(src="/static/img/content/slide06.png")
          
        
        
        //- .swiper-btn
        //-   .swiper-button-prev
        //-     +icon("arrow")
        //-   .swiper-button-next
        //-     +icon("arrow")
