.welcome 
  .container
    .welcome--wrap
      .social
        button(type='button', name='stock').btn_social
          img(src="/static/img/svg/inst.svg")
        button(type='button', name='social').btn_social
          img(src="/static/img/svg/fb.svg")
        button(type='button', name='social').btn_social
          img(src="/static/img/svg/vk.svg")
        button(type='button', name='social').btn_social
          img(src="/static/img/svg/youtube.svg")
      .phone
        a(href="tel:78442962292")
          | +7 (8442) 96 22 92
      .swiper
        .swiper-wrapper
          .swiper-slide
            .slide
              h2 Айболит круглосуточная ветклиника
              a(href="#")
                | ЗАПИСАТЬСЯ
              img(src="/static/img/content/slide01.png")
          .swiper-slide
            .slide
              h2 Комфортные оборудованные стационары
              button(type='button', name='signup').btn_signup
                | ЗАПИСАТЬСЯ
              img(src="/static/img/content/slide02.png")
          .swiper-slide
            .slide
              h2 Новейшее европейское оборудование
              button(type='button', name='signup').btn_signup
                | ЗАПИСАТЬСЯ
              img(src="/static/img/content/slide03.png")
          .swiper-slide
            .slide
              h2 Собственная современная лаборатория
              button(type='button', name='signup').btn_signup
                | ЗАПИСАТЬСЯ
              img(src="/static/img/content/slide04.png")
          .swiper-slide
            .slide
              h2 Аптека и зоомагазин по доступным ценам
              button(type='button', name='signup').btn_signup
                | ЗАПИСАТЬСЯ
              img(src="/static/img/content/slide05.png")
          .swiper-slide
            .slide
              h2 Груминг салон и косметические товары
              button(type='button', name='signup').btn_signup
                | ЗАПИСАТЬСЯ
              img(src="/static/img/content/slide06.png")
      .swiper-pagination      