- var titles = ['', 'Айболит круглосуточная ветклиника', 'Комфортные оборудованные стационары', 'Новейшее европейское оборудование', 'Собственная современная лаборатория', 'Аптека и зоомагазин по доступным ценам', 'Груминг салон и косметические товары']


.welcome 
  .container
    .welcome--wrap
      .social
        - for (var i=0; i<4; i++)
          button(type='button', name='stock').btn_social
            +icon('social' + i)
      .phone
        a(href="tel:78442962292")
          | +7 (8442) 96 22 92
      .swiper
        .swiper-wrapper
          - for (var j=1; j<7; j++)
            .swiper-slide
              .slide
                h2= titles[j]
                a(href="#")
                  | ЗАПИСАТЬСЯ
                img(src='/static/img/content/slide'+ j +'.png')
        .swiper-pagination