.welcome 
  .container










  
    //- .swiper
    //-   // Additional required wrapper
    //-   .swiper-wrapper
    //-     // Slides
    //-     - for (var i=0; i<4; i++)
    //-       .swiper-slide
    //-         img(src="../static/img/content/slide01.png")
    //-   //- // If we need pagination
    //-   //- .swiper-pagination
    //-   // If we need navigation buttons
    //-   .swiper-btn
    //-     .swiper-button-prev
    //-       +icon("arrow")
    //-     .swiper-button-next
    //-       +icon("arrow")
